{% load custom_tags %}
{% load static %}
<form class="like_form" action="{% url 'like' %}" method="POST" id="{{ post.id }}">
    {% csrf_token %}
    {% if post|liked:user.id %}
    <button type="submit" id="unlike" value="{{ post.id }}" style="font-size:30px;color: blue;" class='like-btn{{post.id}}' ><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
    <div class="total_likes{{ post.id }}">{{post.total_likes}}</div>
    {% else %}
    <button type="submit" id="like" value="{{post.id}}" class='like-btn{{post.id}}' style="font-size:30px;color: black;"><i class="fa fa-thumbs-up " aria-hidden="true"></i></button>
    <div class="total_likes{{ post.id }}">{{post.total_likes}}</div>
    {% endif %}
</form>



