{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<p>
    <span class="nowrap"><a href="{% url 'home' %}">Home</a></span>
    <span class="nowrap"><a href="{% url 'account_logout' %}">Log Out</a></span>
</p>

<h2>{{post.caption}}</h2>
            <p>author: <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></p>
            <p>{{post.text}}</p>
        {% if tags_post %}
            <p>tags:
            {% for tag in tags_post %}
                <span class="nowrap"><a href="{% url 'posts_with_tag' tag %}">#{{tag}}</a></span>
            {% endfor %}
            </p>
        {% endif %}


        {% for image in post.images.all %}
            <p><img class="post-image" src="{{ image.image.url }}"/></p>
        {% endfor %}
        <p>created at: {{ post.created_at }}</p>

            {% if user != post.author %}
                    <form name="like_form" action="{% url 'like' post.id %}" method="post">
                        {% csrf_token %}
                    {% if liked%}
                        <button type="submit" value="{{post.id}}" style="font-size:30px;color: blue;"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                        {{total}}
                    {% elif not liked %}
                        <button type="submit" value="{{post.id}}" style="font-size:30px;color: black;"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                        {{total}}
                    </form>
                    {% endif %}
            {% else %}
                <p>Likes: {{total}}</p>
                <p><a href="{% url 'edit_post' post.id %}">edit post</a></p>
            </form>
            {% endif %}
{% endblock%}
