{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<p><a href="{% url 'home' %}">Home</a></p>
<p><a href="{% url 'logout' %}">Log Out</a></p>
<p><a href="{% url 'create_post' %}">Create post</a></p>

<p>username: {{ user.username }}</p>
<p>bio: {{ user.bio }}</p>
{% if user.avatar %}
<p>pic: <img src="{{ user.avatar.url }}"/></p>
{% endif %}
<p>joined: {{ user.date_joined }}</p>

{% if posts%}
<ul>
    {% for post in posts %}
        <li>
            <h1>{{post.caption}}</h1>
            <p>author: <a href="{% url 'profile' post.author.id %}">{{ post.author.username }}</a></p>
            <p>{{post.text}}</p>
        {% for image in post.images.all %}
            <p>pics: <img src="{{ image.image.url }}"/></p>
        {% endfor %}
            <p>created at: {{ post.created_at }}</p>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No posts available</p>
{% endif %}
{% endblock%}

